#beautiful
    background-color: #f4fafb
    .box
        h1
            font-weight: 700
            font-size: 68px
            margin-right: 80px
        span
            color: #37b7c3
        h5
            color: #676f8b
            font-size: 20px
            margin: 25px 75px 50px 0
            line-height: 1.3
        .btn
            padding: 13px 30px
            font-size: 25px
            border-radius: 5px
            background-color: #06aeb4
            color: #ffff
        .imgbox
            width: 120px
            margin: 20px 0 10px
        h4
            font-size: 22px
            line-height: 1.5

    @media (max-width:991px)
        .box
            text-align: center
            h1
                font-size: 80px
        .rating
            margin: 20px 0 50px
            .imgbox
                margin: auto
    @media (max-width:991px)
        .box
            h1
                margin-right: auto
            h5
                margin: 25px 0 50px
    @media (max-width:991px)
        .box
            margin-bottom: 50px
            h5
                font-size: 30px
                
          

